.button {
    float: left;
    margin: 0 5px 5px 0;
    width: 100px;
    height: 40px;
    position: relative;
  }
  
  .button label,
  .button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;

  }

.button input[type="radio"]+ label {
  background: #dfdfdf;
  border: 2px #20b8be
}
  
  .button input[type="radio"]:checked + label {
    background: #20b8be;
    border-radius: 4px;
  }
  
  .button label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
  }
  